* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#titulo {
    color: #fff;
}

header {
    width: 100%;
    background: #000;
    text-align: center;
}

header p {
    color: #fff;
}

footer {
    text-align: center;
    background: #000;
    color: #fff;
    padding: .5em;
}